/* __________________HEADER CSS STYLESHEET ____________________*/
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
}
.text-small {
  font-size: 85%;
}
.dropdown-toggle {
  outline: 0;
}
.header-image {
  background-image: url(“Universitylogo.jpg”);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  }
/* __________________body____________________*/

body,h1,h2,h3,h4,h5 {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  padding: 15px 30px 20px;  /*top left/right bottom*/ 
  }
body{
  padding: 50px 100px 50px 100px;
  }

 
/* _________________search____________________*/

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);  
 }

.search input{
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus{
  box-shadow: none;
  border: 2px dodgerblue;
  }

.search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
}

 .search button{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background-color: dodgerblue;
  
}